
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */

/* белый #FFFFFF; */
/* акценкт #2196F3; */

/* цвет основного фона #E5E5E5; */
/* цвет вторичного фона  #2F303A; */
/* цвет фона кнопок #F5F4FA; */

/* цвет шапки лого #000000; */
/* цвет лого футер #FFFFFF; */

/* цвет фона герой #C4C4C4; */
/* цвет соцсетей #AFB1B8; */
/* цвет соцсети фон футер rgba(255, 255, 255, 0.1); */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color:#2196F3;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --wite-color: #FFFFFF;
    --button-bg-color: #F5F4FA;
    --hero-bg-color: #C4C4C4;
    --network-color: #AFB1B8;
    --network-bg-color-footer: rgba(255, 255, 255, 0.1);
   

}


body {
    /* width: 1600px; */
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);

    font-family: Roboto, Comfortaa, Lato, sans-serif;
    letter-spacing: 0.03em;
}

/* утилиты */

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p,
ul {
    padding: 0;
    margin: 0;
}


.list {
    list-style: none;
    font-style: normal;
    /* padding: 0;
    margin: 0; */
}
 
.conteiner {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}


/* секции */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.section-list {
    margin-bottom: 10px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-decoration: none;
}

/* header */

.header {
    border-bottom: 1px solid #ECECEC;
}


/* логотип */

.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

/* логотип шапка */

.logo-header {
    color: var(--primary-text-color);
}

/* навигация */

.nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.site-nav.list {
    display: flex;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent-color)
}


.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);  
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

/* контакты */

.auth-nav {
    display: flex;
    margin-left: auto;
}

/* контакты шапка */

.contakts-header {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.envelope-svg {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.tel-svg {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.auth-item:not(:last-child) {
    margin-right: 50px;
}

.contakts-header:hover,
.contakts-header:focus {
    color: var(--accent-color);   
}

.contakts-header:hover .envelope-svg,
.contakts-header:focus .envelope-svg {
    fill: var(--accent-color);    
}

.contakts-header:hover .tel-svg,
.contakts-header:focus .tel-svg {
    fill: var(--accent-color);
}
/* контакты футер */

.contakts-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts-footer:hover,
.contakts-footer:focus {
    color: var(--accent-color);
}

/* адрес */

.address {
    color: var(--wite-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover,
.address:focus {
    color: var(--accent-color);
}


/* герой */

.hero {
    padding: 200px 0;
    margin: 0 auto;
    width: 1600px;

    background-color: var(--hero-bg-color);
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center
    ;
}

.hero-title {
    width: 696px;
    margin: 0 auto 30px;

    color: var(--wite-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* модальное окно */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    pointer-events: none;
    opacity: 0;  
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    width: 528px;
    height: 581px;

    border-radius: 4px;
    background-color: var(--wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px;
    border: 0;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--wite-color);
}

.modal-button:hover .button-img {
    fill: var(--accent-color);
    cursor: pointer;
    
}

.button-img {
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
    padding: 40px;
}

.form-title {
    display: block;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.form-label {
    position: relative;
    display: block;
    margin-bottom: 10px; 
}

.label-textarea {
    display: block;
    margin-bottom: 20px;
}

.form-name {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: var(--primary-text-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 448px;
    height: 40px;
    padding: 10px 40px;

    outline: none;
    cursor: pointer;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within .form-icon {
   fill: var(--accent-color);
} 


.form-label:focus-within .form-input {
    border: 1px solid var(--accent-color);
}

.label-textarea:focus-within .form-textarea {
    border: 1px solid var(--accent-color);
}


.form-textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;

    resize: none;
    outline: none;
    cursor: pointer;
 
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

[placeholder] {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}



.form-checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.checkbox {
    text-align: center;
    appearance: none;
    position: absolute

}


.checkbox-icon {
    width: 16px;
    height: 15px;

    margin-right: 7px;
    border-radius: 2px;
    border: 2px solid var(--primary-text-color);
    fill: var(--wite-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
    border: 0;
    background-color: var(--accent-color);
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}


.checkbox-agreement{
    text-decoration-line: underline;   
    color: var(--accent-color);
}

/* качества */


.quality-section {
    padding-top: 94px;
}

.quality.section-title {
    display: none;
}

.quality-list {
    display: flex;

    color: var(--secondary-text-color);
}

.quality-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--button-bg-color);
}

.quality-svg {
    width: 70px;
    height: 70px;
}

.quality-item:not(:last-child) {
    margin-right: 30px;

}

.quality-description {
    
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

/* чем мы занимаемся */


.features {
    display: flex;
}

.features-item:not(:last-child) {
    margin-right: 30px;
}

.features-box {
    position: relative;
}

.features-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

}

.features-img {
    display: block;
}

.featuers-subtitle {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 27px;
    left: 50%;
    transform: translate(-50%);
    
    z-index: 1;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--wite-color)
}


/* наша команда */


.team-section {
    background-color: var(--button-bg-color);
    margin: 0 auto;
}


.team.list {
    display: flex;
}

.team-item {
    background-color: var(--wite-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-image {
    margin-bottom: 30px;
}



.team-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-description {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-text-color);
}

/* список соцсетей */

.social-networks {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;    
}

.networks-item:not(:last-child) {
    margin-right: 10px;
}

.network-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: var(--primary-bg-color); 
    
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover,
.network-link:focus {
    background-color: var(--accent-color);
}

.network-svg {
    fill: var(--network-color);
    background-size: cover;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover .network-svg,
.network-link:focus .network-svg {
    fill: var(--wite-color);
}



/* постоянные клиенты */

.client-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;    
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--network-color);
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-svg {
    fill: var(--network-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.client-link:hover .client-svg, 
.client-link:focus .client-svg {
    fill: var(--accent-color);
}
.client-link:hover, 
.client-link:focus {
    width: 170px;
    height: 90px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}


.client-list {
    display: flex;
    justify-content: center;
}

.client-item:not(:last-child) {
    margin-right: 30px;
}

/* портфолио */

.work-examples {
    display: none;
}

/* фильтр */

.filter.list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

/* каталог */

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  
}

.catalog-item {
    width: calc((100% - 60px) /3);
    border: 1px solid transparent;
    
}

.catalog-item:hover,
.catalog-item:focus {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.catalog-link {
    text-decoration: none;
}


.overlay {
    position: relative;
    overflow: hidden;
}

.catalog-img {
    display: block;

}

.catalog-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--wite-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.catalog-item:hover .catalog-content, 
.catalog-item:focus .catalog-content {
    transform: translate(0);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: all;
}


.catalog-box {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.catalog-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.catalog-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    
}


/* кнопки */

.button {
    display: inline-block;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    border-radius: 4px;


}

.button.secondary {
    padding: 6px 22px;

    background-color: var(--button-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button.secondary:hover,
.button:focus {
    color: var(--wite-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
    display: block;
    padding: 10px 30px;
    margin: 0px auto;
   
    color: var(--wite-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.form-footer .button.primary {
    padding: 13px 28px;
}

.button.primary:hover,
.button.primary:focus {   
    color: var(--primary-text-color);
    background-color: var(--button-bg-color);
}

/* футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--secondary-bg-color);
}

.footer > .conteiner {
    display: flex;
    justify-content: space-between;
}

.footer-adress {
    /* margin-right: 70px; */
}

/* логотип футер */

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--wite-color);
}

/* адрес */

.address .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-invite {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--wite-color);
}

.net-title {
    margin-bottom: 20px;


    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--wite-color)
}


.footer-net {
    margin-top: 12px;
    width: 206px;
}

.net-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    width: 44px;
    height: 44px;

    background-color: var(--network-bg-color-footer);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.net-link:hover,
.net-link:focus {
    background-color: var(--accent-color);
}

.net-item:not(:last-child) {
    margin-right: 10px;
}

.net-list {
    display: flex;
}


.net-svg {
    fill: var(--wite-color)
}

/* форма футер */

.footer-form {
    margin-top: 12px;
}
.form-box {
    display: flex;
}

.form-call {
    display: block;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wite-color);
}

.form-mark:focus-within .form-fild {
    border-color: var(--accent-color);
}

.form-fild {
    margin-right: 12px;
    width: 358px;
    padding: 15px;
    height: 50px;
    background-color: var(--secondary-bg-color);

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;    
    color: rgba(255, 255, 255, 0.6);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-box .button.primary {
    position: relative;
    padding: 10px 62px 10px 29px;
}

.button-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translatey(-50%);
    width: 24px;
    height: 24px;
    fill: var(--wite-color);
}